
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wu.framework.automation.platform.server.starter.infrastructure.mapper.AutomationNodeHttpActionMapper">
<resultMap id="BaseResultMap" type="com.wu.framework.automation.platform.server.starter.infrastructure.entity.AutomationNodeHttpActionDO">
<result column="automation_node_id" property="automationNodeId" />
<result column="body" property="body" />
<result column="create_time" property="createTime" />
<result column="headers" property="headers" />
<result column="httpMethod" property="httpMethod" />
<id column="id" property="id" />
<result column="is_deleted" property="isDeleted" />
<result column="params" property="params" />
<result column="update_time" property="updateTime" />
<result column="url" property="url" />
</resultMap>
</mapper>