package ${package}.${moduleName}.entity;

    #if(${hasBigDecimal})
    import java.math.BigDecimal;
    #end
import java.io.Serializable;
import java.util.Date;

import lombok.Data;

import javax.persistence.Id;
import javax.persistence.Table;

import io.swagger.annotations.*;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
@Table(name = "${tableName}")
@ApiModel(value = "${className}", description = "${comments}")
public class ${className}Entity implements Serializable {

    private static final long serialVersionUID = 1L;

    #foreach ($lazyColumn in $columns)
        /**
         *  $lazyColumn.columnComment
         */
        @ApiModelProperty(value = "$lazyColumn.columnComment", example = "$lazyColumn.val")
            #if($lazyColumn.columnName == $pk.columnName)
            @Id
            #end
        private $lazyColumn.attrType $lazyColumn.attrname;

    #end

}