
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wu.framework.play.platform.infrastructure.mapper.MusicMapper">
<resultMap id="BaseResultMap" type="com.wu.framework.play.platform.infrastructure.entity.MusicDO">
<result column="album" property="album" />
<result column="content_type" property="contentType" />
<result column="create_time" property="createTime" />
<result column="duration" property="duration" />
<id column="id" property="id" />
<result column="music_data" property="musicData" />
<result column="music_url" property="musicUrl" />
<result column="name" property="name" />
<result column="roughly_size" property="roughlySize" />
<result column="singer" property="singer" />
<result column="update_time" property="updateTime" />
</resultMap>
</mapper>