
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wu.framework.play.platform.infrastructure.mapper.TranslateMapper">
<resultMap id="BaseResultMap" type="com.wu.framework.play.platform.infrastructure.entity.TranslateDO">
<result column="create_time" property="createTime" />
<result column="`from`" property="from" />
<id column="id" property="id" />
<result column="source_word" property="sourceWord" />
<result column="`to`" property="to" />
<result column="translate_word" property="translateWord" />
<result column="update_time" property="updateTime" />
</resultMap>
</mapper>